/* Configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Fonts for the project */
/* Bluu Next */
@font-face {
    font-family: 'bluu';
    src: url('../fonts/bluu-next/bluunext-bold-webfont.woff2') format('woff2'),
         url('../fonts/bluu-next/bluunext-bold-webfont.woff') format('woff'),
         url('../fonts/bluu-next/bluunext-bold.ttf') format('truetype'),
         url('../fonts/bluu-next/bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bluu';
    src: url('../fonts/bluu-next/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bluu-next/bluunext-bolditalic-webfont.woff') format('woff'),
         url('../fonts/bluu-next/bluunext-bolditalic.ttf') format('truetype'),
         url('../fonts/bluu-next/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'bluu_nexttitling';
    src: url('../fonts/bluu-next/BluuNext-Titling.ttf') format('truetype'),
        url('../fonts/bluu-next/bluunext-titling.woff2') format('woff2'),
        url('../fonts/bluu-next/bluunext-titling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Sofia Pro */
@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('../fonts/sofia-pro/SofiaProSemiBold.eot');
    src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'),
        url('../fonts/sofia-pro/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProSemiBold.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProSemiBold.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProRegular-Italic.eot');
    src: local('Sofia Pro Regular Italic'), local('SofiaProRegular-Italic'),
        url('../fonts/sofia-pro/SofiaProRegular-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProRegular-Italic.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProRegular-Italic.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProRegular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('../fonts/sofia-pro/SofiaProSemiBold-Italic.eot');
    src: local('Sofia Pro Semi Bold Italic'), local('SofiaProSemiBold-Italic'),
        url('../fonts/sofia-pro/SofiaProSemiBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProSemiBold-Italic.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProSemiBold-Italic.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProSemiBold-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProLight.eot');
    src: local('Sofia Pro Light'), local('SofiaProLight'),
        url('../fonts/sofia-pro/SofiaProLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProLight.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProLight.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProExtraLight.eot');
    src: local('Sofia Pro ExtraLight'), local('SofiaProExtraLight'),
        url('../fonts/sofia-pro/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProExtraLight.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProExtraLight.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProMedium-Italic.eot');
    src: local('Sofia Pro Medium Italic'), local('SofiaProMedium-Italic'),
        url('../fonts/sofia-pro/SofiaProMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProMedium-Italic.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProMedium-Italic.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProMedium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProUltraLight-Italic.eot');
    src: local('Sofia Pro UltraLight Italic'), local('SofiaProUltraLight-Italic'),
        url('../fonts/sofia-pro/SofiaProUltraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProUltraLight-Italic.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProUltraLight-Italic.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProUltraLight-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProRegular.eot');
    src: local('Sofia Pro Regular'), local('SofiaProRegular'),
        url('../fonts/sofia-pro/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProRegular.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProRegular.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProMedium.eot');
    src: local('Sofia Pro Medium'), local('SofiaProMedium'),
        url('../fonts/sofia-pro/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProMedium.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProMedium.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProBold.eot');
    src: local('Sofia Pro Bold'), local('SofiaProBold'),
        url('../fonts/sofia-pro/SofiaProBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProBold.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProBold.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProExtraLight-Italic.eot');
    src: local('Sofia Pro ExtraLight Italic'), local('SofiaProExtraLight-Italic'),
        url('../fonts/sofia-pro/SofiaProExtraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProExtraLight-Italic.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProExtraLight-Italic.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProExtraLight-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProLight-Italic.eot');
    src: local('Sofia Pro Light Italic'), local('SofiaProLight-Italic'),
        url('../fonts/sofia-pro/SofiaProLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProLight-Italic.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProLight-Italic.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProBlack-Italic.eot');
    src: local('Sofia Pro Black Italic'), local('SofiaProBlack-Italic'),
        url('../fonts/sofia-pro/SofiaProBlack-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProBlack-Italic.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProBlack-Italic.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProBlack-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProBlack.eot');
    src: local('Sofia Pro Black'), local('SofiaProBlack'),
        url('../fonts/sofia-pro/SofiaProBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProBlack.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProBlack.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProUltraLight.eot');
    src: local('Sofia Pro UltraLight'), local('SofiaProUltraLight'),
        url('../fonts/sofia-pro/SofiaProUltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProUltraLight.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProUltraLight.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/SofiaProBold-Italic.eot');
    src: local('Sofia Pro Bold Italic'), local('SofiaProBold-Italic'),
        url('../fonts/sofia-pro/SofiaProBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofia-pro/SofiaProBold-Italic.woff2') format('woff2'),
        url('../fonts/sofia-pro/SofiaProBold-Italic.woff') format('woff'),
        url('../fonts/sofia-pro/SofiaProBold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Variables */
:root {
    --lightColor:#6B63b5;
    --darkColor: #514A92;
    --colorFooter: #02032c;
    --bodyFont: 'Sofia Pro';
    --titleFont:'bluu_nexttitling';
    --subtitleFont:'bluu';
    --btnTextColor: #F9F4F2;
    --backgroundColorPrimary: #242633;
    --backgroundColorSecondary: #696B78;
    --backgroundSpotlight: #10141b;
}

/* Styles */
html {
    overflow-x: hidden;
    max-width: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

nav {
    background-color: var(--backgroundSpotlight);
    font-family: var(--bodyFont);
    font-size: 15px;
}

#logo {
    width: 4.8rem;
    height: auto;
    margin-right: 4rem;
}

#logo:hover {
    filter: brightness(1.50);
}

.active {
    background-color: var(--lightColor);
    border-radius: 2px;
}

/* Maybe use class select */
ul > li > a {
    transition: all 300ms ease;
}
 ul > li > a:hover {
    transform: scale(1,1);
    background: var(--lightColor);
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

/* titles and body fonts */
.titleF {
    font-family: var(--titleFont);
}
.bodyF {
    font-family: var(--bodyFont);
}

.subtitleF {
    font-family: var(--subtitleFont);
}

/* button scroll to top */
#scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: var(--darkColor);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
    width: 56px;
}

#scrollTop:hover {
    background-color: var(--backgroundSpotlight);
    filter: brightness(1.50);
}

#introduction {
    background-color: var(--backgroundColorPrimary);
}

/* characters section with glassmorphism */
#characters {
    background: url('../img/abstract_1.jpg') no-repeat center;
    background-size:cover;
}

.glass {
    background: #ffffff10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

/* characters played by two actors */
.duo {
    cursor: pointer;
    margin:0 auto;
}

.duo img:nth-child(2), .duo h6:last-child {
    display: none;
}

.duo:hover img:nth-child(2), .duo:hover h6:last-child {
    display: inline;
}

.duo:hover h6:last-child {
    display: block;
}

.duo:hover img:first-child, .duo:hover h6:nth-of-type(1) {
    display: none;
}

/* books */
#books {
    background-color: var(--backgroundSpotlight);
}

/* Zoom effect */
/* borders hidden with effect */
.cut {
    overflow: hidden;
}

.zoom {
    transition: transform 300ms;
    
}

.zoom:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.zoom-1 {
    transition: transform 300ms;
    
}

.zoom-1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* films */
#films {
    background-color: var(--backgroundColorSecondary);
}

/* footer */
footer {
    background-color: var(--backgroundSpotlight);
    padding: 40px 50px;
}

.container__footer {
    padding: 50px 80px;
    border: 1px solid var(--backgroundColorSecondary);
}

.container__up {
    padding: 0px 0px 12px;
}

.links a {
    font-size: 14px;
    color: var(--btnTextColor);
    text-decoration: none;
    margin-right: 80px;
    margin-bottom: 15px;
    display: flex;
}

.links a:hover {
    text-decoration: underline;
}

.logo__footer {
    width: 9vw;
}

.logo__footer img {
    width: 100%;
    filter: brightness(1.60);
}

.divider__footer {
    color: var(--backgroundColorSecondary);
    margin: 5px 0px;
}

.container__down {
    margin: 20px 0px 0px;
}

.disclaimer p {
    margin: 16px 0px;
    line-height: 1.33;
    font-size: 14px;
    color: #9FA1AD;
}

.social_networks {
    margin-top: 19px;
    margin-left: 20px;
    width: 20vw;
}

.social__links {
    background-color: var(--backgroundColorPrimary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.signature {
    color: var(--btnTextColor);
}

/* Styles for locations and bestiary */
/* Hero Image */
.container__hero {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,auto);
}

#hogwarts, #beasts {
    width: 98.74vw;
    grid-column: 1/10;
    grid-row: 1/10;
}

#overlay {
    grid-column: 1/11;
    grid-row: 1/11;
    background-color:var(--lightColor);
    opacity: 0.5;
    z-index: 7;
}

.text__overlay {
    z-index: 7;
    font-size: 2rem;
    font-size: 2rem;
    grid-column: 2/9;
    grid-row: 5/7;
}

.text__overlay p {
    font-size: 1.5rem;
}

/* Locations */
#locations, #beasts {
    background: url('../img/scroll.jpg') no-repeat center;
    background-size: cover;
}

#locations p {
    text-align: justify;
}